@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(212, 45%, 89%);
}

.QR_Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsl(0, 0%, 100%);
    padding: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 20px;
    max-width: 20rem;
    box-shadow: 0px 23px 75px 0px #29345938;
}

.QR_Main>* {
    margin-bottom: 1rem;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

.QR_Main>span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.QR_Main > span:nth-child(2) {
    font-weight: 700;
    font-size: 140%;
    color: hsl(218, 44%, 22%);
}

.QR_Main > span:nth-child(3) {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 98%;
}

.QR_Container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.QR_Container>img {
    width: 100%;
    object-fit: fill;
    border-radius: 15px;
}